/* default code */
* {box-sizing: border-box;}

body{
    margin:0;
}

/* default code end */


/* navbar */
.Navbar{
    display: flex;
    margin-top:10px;
}

.heading-nav{
    /* border:2px red solid; */
    width:50%;
    font-size:38px;
    color: #3D5A80;
    padding:20px;
}

.lnks{
    /* border: 2px solid blue; */
    display: flex;
    width:50%;
    justify-content:space-evenly;
    padding:20px;
}

.link1,.link2,.link3{
    /* border:2px red solid; */
    font-size:38px;
}

.link1 a,.link2 a,.link3 a{
    color: #3D5A80;
    padding:0 30px;
}

.mob-Navbar{
    margin-top:13px;
    /* border:2px red solid; */
    /* width:10%; */
    margin-left:10px;
    padding:20px;
    /* text-align: end; */
    /* background-color:black; */
}

#mob-nav-icon{
    font-size:40px;
}

.link1 a:hover, .link2 a:hover, .link3 a:hover{
    background-color: #3D5A80;
    color:white;
    padding:0px 30px;
    border-bottom-left-radius:50px;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    border-top-right-radius:50px;
}
/* navbar end */
.shapes{
    margin-left: 1020px;
    margin-top: -10px;
    overflow-x: hidden;
}
.shape1{
    width:151px;
    height:151px;
    background: #E0FBFC;
    transform: rotate(30deg);
    position: relative;
    left:35px;
    top:140px;
    z-index:-1;
}

.shape2{
    position: relative;
    width:159px;
    height:159px;
    border-radius:50%;
    background-color: #EE6C4D;
    left:40px;
    bottom:120px;
    z-index:-2;
}

.shape3{
    width: 0; 
    height: 0; 
    border-left: 115px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 130px solid #98C1D9;
    z-index:-3;
    transform: rotate(-135deg);
    position: relative;
    bottom:260px;
    left:120px;
}
.btns button{
    cursor:pointer;
    width:150px;
    height:40px;
    margin-left:900px;
    border: 2px solid #3D5A80;
    color:#3D5A80;
    font-size:25px;
    font-family:Montserrat;
    background-color: transparent;
    background-repeat:no-repeat;
    outline:none;
  margin-top: 100px;
  margin-bottom: 50px;
}

.btns button:hover{
    background-color: #3D5A80;
    color:white;
}

#name,#hname,#size,#des,#skills,#mates{
 margin-left: 100px;
font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 69px;
margin-top: -20px;
/* identical to box height */


color: #3D5A80;
}
#desc,#tm,#sk{
    margin-left: 100px;
    font-size: 32px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
line-height: 59px;
margin-top: -35px;

color: #3D5A80;
}
#desc{
    margin-right: 400px;
}
#tm{
    margin-left: 200px;
}
#sk{
    margin-left: 250px;
}
#name{
    font-size: 45px;
    margin-left: 100px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
line-height: 59px;
color: #3D5A80;
margin-top: -400px;
}
.arrow1 #arrow{
    margin-left: -25px;
    outline: none;
    border: none;
} 
.arrow1 #arrow:hover
{
    background-color:transparent;
    outline: transparent;
}
@media only screen and (min-width: 993px){
    .mob-Navbar{
        display:none;
    }
}

@media only screen and (max-width: 1299px){

    .heading-nav{
        font-size:35px;
    }

    .link1,.link2,.link3{
        font-size:35px;
    }

}

@media only screen and (max-width: 992px){
    .lnks{
        display: none;
    }

    .heading-nav{
        text-align: end;
        font-size:40px;
        margin-right:20px;
    }

    .Navbar{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 992px){
    .lnks{
        display: none;
    }

    .heading-nav{
        text-align: end;
        font-size:40px;
    }

    .Navbar{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 444px){
    .heading-nav{
        font-size:30px;
    }

    #mob-nav-icon{
        font-size:30px;
    }
}
@media only screen and (max-width: 1024px){
    .shapes{
        margin-left: 750px;
        
    }
    .btns{
        margin-left: -200px;
    }
}
@media only screen and (max-width:414px){
    #desc{margin-right: 30px;
    margin-left: 30px;
    font-size: 23px;
    }
    #des,#size,#hname,#name,#skills,#mates{
        margin-left: 30px;
    }
    .btns{
        margin-left: -700px;
        
    }
    .arrow1{
        margin-left: -40px;
    }
    #sk,#tm{
        margin-left: 35px;
        font-size: 23px;
    }

}
@media only screen and (max-width:360px){
    .btns{
        margin-left: -750px;
    }
}
@media only screen and (max-width:767px){
    #desc{
        margin-right: 10px;
    }
    .btns{
        margin-left: -650px;
    }
    .arrow1{
        margin-left: -10px;
    }
    #name,#hname,#size,#des,#desc,#skills,#mates{
        margin-left: 50px;
    }
    #sk,#tm{
        margin-left: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width:992px){
.shapes{
    display: none;
}
.btns{
    margin-left: -400px;
}
#desc{
    margin-right: 150px;

}
#name{
    margin-top: 10px;
}
}
@media only screen and (min-width: 992px) {
    .shapes{
        margin-left: 680px; 
    overflow-x: hidden;   }
}
@media only screen and (min-width: 1024px) and(max-width:1200px){
    .shapes{
        overflow-x: hidden;
        margin-left: 750px;
    }
    .btns{
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 1150px) and (max-width:1199px){
    .shapes{
        margin-left: 800px;

    }
}
@media only screen and (min-width: 1200px){
    .shapes{
        overflow-x: hidden;
        margin-left: 900px;
        margin-top: -30px;
    }
    .btns{
       margin-right: 20px;
       overflow-x: hidden;
    }
}